version: '3.8'
services:
  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - ./backend/model_data:/app/model_data

  frontend:
    build: ./frontend
    ports:
      - "3000:5173" # Vite defaults to 5173, mapping to 3000 for access
    depends_on:
      - backend